.wp-block-flashblocks-toggle {

	.toggle-content-warning {
		padding: 10px;
		background: #fff3cd;
		border: 1px solid #ffc107;
		border-radius: 4px;
		margin-bottom: 10px;
		font-size: 13px;
		color: #856404;
	}
}
